
    <!--Projeto ainda falta alguns detalhes em css-->
    <header>
           <div class="conjunto__header1">
              <img class="imagem__voltar" src="./assets/imagens/Folhas Voltar-Photoroom.png">
          <nav class="titulo__header">
            <a>Voltar</a>
        </nav>
        </div>
    </header>
    <main>
        <div class="conjunto__main" >
        <h2 class="titulo__main">ENCONTRE UM ECOPONTO MAIS PRÓXIMO DE VOCÊ</h2>
        <h2 class = "titulo__main preencher__main">O que é um ecoponto?</h2>
        </div>
        
        <div class="conjunto__informacoes__bloco">
        <div>
            <div class="conjunto__informacoes">
                <div>
                    <div class="secao">
                        <label class="subtitulo__main">CEP</label>
                        <div class="conjunto__preencher__cep">
                            <input class="preencher__cep input-cep" id="CEP" type="text" name="cep"
                                placeholder="00000-000" maxlength="8" data-error-class="erro">
                                <!-- erro serve para caso a informação for incorreta, será aplicado o css de erro. O data--error--class está em todos os blocos de informações-->
                            <button class="preencher__cep__validar">Validar CEP</button>
                        </div>
                        <span class="mensagem-erro" style="display: none;">CEP inválido</span>
                    </div>

                </div>

            </div>
        </div>
        <div class="secao__rua__numero__cidade__estado">
            <div class="secao">
                <label class="subtitulo__main">Rua</label>
                <input class="preencher__rua__bairro input-rua" id="camprua" type="text" name="rua"
                    data-error-class="erro">
            </div>
            <div class="secao">
                <label class="subtitulo__main">Número</label>
                <input class="preencher__numero__casa input-rua" id="campnumerocasa" type="text" name="numero"
                    maxlength="3" ; data-error-class="erro">
            </div>

        </div>
        <div class="secao">
            <label class="subtitulo__main">Bairro</label>
            <input class="preencher__rua__bairro input-bairro" id="campbairro" type="text" name="bairro" ;
                data-error-class="erro">
        </div>
        </div>
        <div class="conjunto__cidade__estado">
        <div class="secao__rua__numero__cidade__estado">
            <div class="secao">
                <label class="subtitulo__main">Cidade</label>
                <input class="preencher__cidade__estado input-cidade" id="campcidade" type="text" name="cidade"
                    data-error-class="erro">
            </div>
            <div class="secao">
                <label class="subtitulo__main">Estado</label>
                <input class="preencher__cidade__estado input-estado " id="campestado" type="text" name="estado"
                    maxlength="2" ; data-error-class="erro">
            </div>
            </div>
        </div>
        
        </div>
        </div>
        </div>

    </div>
    <div class="conjunto__texto__image">
    <span class="texto__oq__um__ecoponto"> Um ecoponto é um local físico, geralmente gerenciado pelo poder público ou por organizações ambientais parceiras, destinado ao recebimento e ao encaminhamento correto de diferentes tipos de resíduos sólidos. Diferente das lixeiras comuns, o ecoponto recebe separadamente materiais recicláveis — como papel, papelão, plástico, vidro e metal — além, em muitos casos, de resíduos orgânicos e eletroeletrônicos.
    </span>
    </div>
    <div class="conjunto__botoes__imagem">
    <div class="botoes__final">
   <a href="./resultadoEcopontoProximo2.html" class="botao__encontrar">Encontrar</a>

         <button id = "cancelar" type="submit" class=" botao__cancelar">Cancelar</button>
            </div>
    <img class="imagem" src="./assets/imagens/latasdelixo-Photoroom 1.png">
 
    </div>
    </main>
