
  <header class="topo">
    <img class="imagem__folha" src="./assets/imagens/Folhas Voltar-Photoroom.png">
    <a href="#" class="voltar">Voltar</a>
  </header>

  <main class="container">
    <section class="formulario">
      <h1>Cadastro de Ação</h1>
      <form action="#" method="post">
        <label for="nome">Nome do Local:</label>
        <input type="text" id="nome" name="nome" required>

        <!--Fiquei na dúvida se colocava maxlenght-->
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="4" required></textarea>

        <label for="local">Local:</label>
        <input type="text" id="local" name="local" required>

        <label for="data">Data:</label>
        <input type="date" id="data" name="data" required>

        <button type="submit">Cadastrar</button>
      </form>
    </section>
  </main>
