
    <header>
        <div class="conjunto__header">
            <div class="conjunto__header__imagem__voltar">
                <img class="imagem__voltar" src="./Imagens/Folhas Voltar-Photoroom.png">
                <nav class="titulo__header">
                    <a href="index.html">Voltar</a>
                </nav>
            </div>
            <h1 class="titulo__principal">EMPRESA</h1>
        </div>
    </header>
    <main>
        <div class="conjunto__abas">
            <button class="aba ativa" id="abaLogin">Login</button>
            <button class="aba" id="abaCadastro">Cadastrar</button>
        </div>
        
        <div class="conteudo__aba ativa" id="conteudoLogin">
            <div class="conjunto__formulario">
                <div class="secao">
                    <label class="subtitulo__main">E-mail</label>
                    <input class="input__formulario" type="email" placeholder="empresa@email.com">
                </div>
                
                <div class="secao">
                    <label class="subtitulo__main">Senha</label>
                    <input class="input__formulario" type="password" placeholder="Digite sua senha">
                </div>
                
                <button class="botao__principal">Entrar</button>
                
                <a href="#" class="link__esqueci">Esqueci minha senha</a>
            </div>
        </div>
        
        <div class="conteudo__aba" id="conteudoCadastro">
            <div class="conjunto__formulario">
                <div class="secao">
                    <label class="subtitulo__main">Nome da Empresa</label>
                    <input class="input__formulario" type="text" placeholder="Digite o nome da empresa">
                </div>
                
                <div class="secao">
                    <label class="subtitulo__main">E-mail</label>
                    <input class="input__formulario" type="email" placeholder="empresa@email.com">
                </div>
                
                <div class="secao">
                    <label class="subtitulo__main">Senha</label>
                    <input class="input__formulario" type="password" placeholder="Crie uma senha">
                </div>
                
                <div class="secao">
                    <label class="subtitulo__main">Confirmar Senha</label>
                    <input class="input__formulario" type="password" placeholder="Repita sua senha">
                </div>
                
                <div class="secao">
                    <label class="subtitulo__main">CNPJ</label>
                    <input class="input__formulario" type="text" placeholder="00.000.000/0000-00">
                </div>
                
                <div class="secao">
                    <label class="subtitulo__main">Telefone</label>
                    <input class="input__formulario" type="text" placeholder="(00) 00000-0000">
                </div>
                
                <button class="botao__principal">Cadastrar</button>
            </div>
        </div>
    </main>
    <footer></footer>
    <script>
        document.getElementById('abaLogin').addEventListener('click', function() {
            document.getElementById('conteudoLogin').classList.add('ativa');
            document.getElementById('conteudoCadastro').classList.remove('ativa');
            document.getElementById('abaLogin').classList.add('ativa');
            document.getElementById('abaCadastro').classList.remove('ativa');
        });
        
        document.getElementById('abaCadastro').addEventListener('click', function() {
            document.getElementById('conteudoCadastro').classList.add('ativa');
            document.getElementById('conteudoLogin').classList.remove('ativa');
            document.getElementById('abaCadastro').classList.add('ativa');
            document.getElementById('abaLogin').classList.remove('ativa');
        });
    </script>

