

  <header class="cabecalho">
        <div class="conjunto__cabecalho"></div>
    <img src="./Imagens/Folhas Voltar-Photoroom.png" alt="Logo" class="logo">
    <a href="index.html" class="voltar">Voltar</a>
  </div>
  </header>

  <main class="conteudo-principal">
    <img src="./Imagens/imagemMao.png" class="imagem__mao">
    <section class="confirmacao">
      <div class="mensagem-sucesso">
        <h2>Inscrição Realizada com Sucesso!</h2>
        <p>Você foi inscrito(a) na ação selecionada. Em breve, a empresa entrará em contato com mais informações.</p>
        <a href="#" class="botao-voltar">Voltar para a página principal</a>
      </div>
    </section>
  </main>

