<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoponto Encontrado</title>
    <link rel="stylesheet" href="./styles/estiloEcopontoProximo1e2.css">

</head>

<body>
    <header>
        <div class="topo__ecoponto">
            <div class="conjunto__header2">
                <div class="conjunto__header__imagem__voltar">
                    <img class="imagem__voltar" src="./Imagens/Folhas Voltar-Photoroom.png">
                    <nav>
                        <a class="link" href="./index.html">Voltar</a>
                    </nav>
                </div>
                <h1 class="nome__ecoponto__encontrado">Ecoponto Encontrado: <span id="nome__do__ecoponto"></span></h1>
                <!--id nome__do__ecoponto é o nome do ecoponto econtrado-->
            </div>
        </div>
    </header>
    <main>
        <div class="conjunto__econponto__encontrado">
            <div class="retangulo__fundo">
                <div class="conjunto__retangulo__dentro">
                    <!--Preencher as informações com o id -->
                    <span id="nome__do__ecoponto" class="nome__ecoponto__estilo">Nome do Ecoponto</span>
                    <p class="estilo__endereco">
                        <span class="destaque__endereco">Endereço: </span>
                        <span id="endereco__ecoponto">Avenida Professor Luiz Ignácio de Anhaia Mello, 1234 - Vila
                            Prudente
                        </span>
                    </p>
                    <span class="estilo__horario">Horário de Funcionamento</span>

                    <span class="estilo__endereco" id="horario__ecoponto">Segunda, terça</span>

                    <p class="estilo__horario">Tipos de Resíduos e Valores</p>

                    <!--Colocar os valores do lixo. Se não aceitar por exemplo vidro. Escreve não aceita-->

                    <div class="conjunto__tipos__aceitos">
                        <div class="conjunto__retangulo__dupla">
                            <div class="preencher__valores">
                                <div class="conjunto__imagem__valores " >
                            <img class="tamanho__imagens__ecoponto__encontrado" src="./Imagens/papelIcone-Photoroom.png">
                            <p class="destaque__endereco ">Papel<span id="valor__papel"></span></p>
                            </div>
                             </div>
                             
                             <div class="preencher__valores">
                                <div class="conjunto__imagem__valores">
                            <img class="tamanho__imagens__ecoponto__encontrado" src="./Imagens/vidroSimbolo-Photoroom.png">
                            <p class="destaque__endereco">Vidro<span id="valor__vidro"></span></p>
                            </div>
                            </div>

                           
                        </div>
                        
                        <div class="conjunto__retangulo__dupla">
                        <div class="preencher__valores">
                            <div class="conjunto__imagem__valores">
                                <img class="tamanho__imagens__ecoponto__encontrado" src="./Imagens/metalSimbolo-Photoroom.png">
                                <p class="destaque__endereco">Aluminio<span id="valor__aluminio"></span></p>
                            </div>
                            </div>

                            <div class="preencher__valores">
                                <div class="conjunto__imagem__valores">
                                    <img  class="tamanho__imagens__ecoponto__encontrado" src="./Imagens/plasticoSimbolo-Photoroom.png">
                                    <p class="destaque__endereco">Plástico <span id = "valores__plástico"></span></p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="conjunto__lixo__eletronico">
               <div class="preencher__eletronico">
                <p class="destaque__endereco">
                    <span  id="recebe__naorecebe"></span>lixo eletronico
                    </p>
                </div>
                </div>
                     <p class="estilo__horario">Benefícios Disponiveis</p>
                     <span class="estilo__endereco" id="beneficio__disponivel"></span>

                     <div class="botoes__ecoponto__encontrado">
                        <button class="botao__inscrever">Inscreva-se</button>

                        <!--Adicionar depois o link para a página de informações a respeito do descarte correto de lixo-->
                         <button  class="botao__preparar__lixo">Como preparar o lixo</button>

                     </div>
                </div>
        

            </div>

            <div class="retangulo__fundo">
                <div class="conjunto__localizacao">
                    <p class="nome__ecoponto__estilo">Localização</p>
                    <!--Adicionar o link para mostrar o mapa-->
                    <div id="mapa__ecoponto" class="retangulo__mapa"></div>

                </div>
            </div>

        </div>
    </main>
    ><footer></footer>

</body>

</html>