<!-- arquivo: inscricaoConfirmada.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscrição Confirmada</title>
  <link rel="stylesheet" href="./assets/styles/estiloInscreverEmAcao1e2.css">
</head>
<body>

  <header class="cabecalho">
        <div class="conjunto__cabecalho"></div>
    <img src="./assets/imagens/Folhas Voltar-Photoroom.png" alt="Logo" class="logo">
    <a href="index.html" class="voltar">Voltar</a>
  </div>
  </header>

  <main class="conteudo-principal">
    <img src="./assets/imagens/imagemMao.png" class="imagem__mao">
    <section class="confirmacao">
      <div class="mensagem-sucesso">
        <h2>Inscrição Realizada com Sucesso!</h2>
        <p>Você foi inscrito(a) na ação selecionada. Em breve, a empresa entrará em contato com mais informações.</p>
        <a href="#" class="botao-voltar">Voltar para a página principal</a>
      </div>
    </section>
  </main>

</body>
</html>
