:root {
    --verde--primario: #2E7D32;
    --texto--principal: #212121;
    --erro--aviso: #D32F2F;
    --confirmacao: #66BB6A;
    --fundo--claro: #F5F5F5;
    --laranja--destaque1: #DDA15E;
    --laranja--destaque2: #BC6C25;
    --fonte: "Lora", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte);
  background-color: var(--cor--principal);
}

.cabecalho {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: var(--verde--primario);
  color: var(--cor--principal);
}
.conjunto__cabecalho{
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.logo {
  width: 2rem;
  height: auto;
}

.voltar {
  color:  var(--texto--principal);
  text-decoration: none;
  font-weight: bold;
}

.conteudo-principal {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagem__mao{
  width: 12rem;
}
.painel-acoes {
  background-color: var(--laranja--destaque1);
  border-radius: 12px;
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.titulo-painel {
  color: var(--cor--secundaria);
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.caixa-acao {
  background-color: var(--fundo--claro);
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  color: var(--cor--secundaria);
}

.botao-inscricao {
  background-color: var(--confirmacao);
  color: var(--cor--principal);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.oculta {
  display: none;
}

/* arquivo: estiloConfirmacao.css */

.confirmacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.mensagem-sucesso {
  background-color: var(--laranja--destaque1);
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  color: var(--cor--secundaria);
}

.botao-voltar {
  background-color: var(--confirmacao);
  color: var(--cor--principal);
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
  text-decoration: none;
  display: inline-block;
}
