@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin:0;
    padding: 0;
}

:root {
    --verde--primario: #2E7D32;
    --texto--principal: #212121;
    --erro--aviso: #D32F2F;
    --confirmacao: #66BB6A;
    --fundo--claro: #F5F5F5;
    --laranja--destaque1: #DDA15E;
    --laranja--destaque2: #BC6C25;
    --fonte: "Lora", sans-serif;
}
body{
    background: var(--fundo--claro);
}
header{
    background-color: var(--verde--primario);
}
.link{
        text-decoration: none;
           font-size: 20px;
    font-weight: bold;
    font-family: var(--fonte);
    color: var(--texto--principal);
    }
.conjunto__main{
    display: flex;
    gap: 9rem;
}



.titulo__main{
    padding-top: 0.5rem;
    padding-left: 5%;
    font-size: 20px;
    width: 30%;
    font-family: var(--fonte);
    color: var(--texto--principal);
}

.conjunto__informacoes__bloco{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-left: 1.1rem;
    width: 70%;
    gap: 1rem;
}
.secao{
       padding-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 0.31rem;
}

.subtitulo__main{
 
    font-size: 16px;
    font-weight: bold;
    font-family: var(--fonte);
    color: var(--texto--principal);
}
.conjunto__preencher__cep{
    display: flex;
    gap: 3rem;
}
.preencher__cep{
    border: none;
    height: 2rem;
    background-color: var(--laranja--destaque1);
    border-radius: 5px;
    width: 12rem;
}
.preencher__cep__validar{
    border: none;
    font-family: var(--fonte);
    background-color: #606c38;
    font-size: 11px;
    font-weight: bold;
     height: 2rem;
    background-color: var(--laranja--destaque1);
    border-radius: 5px;
    width: 7rem;
}
.secao__rua__numero__cidade__estado{
    display: flex;
    flex-direction: column;
}
.preencher__rua__bairro{
      border: none;
    height: 2rem;
    background-color: var(--laranja--destaque1);
    border-radius: 5px;
    width: 25rem;
}
.preencher__numero__casa{
     border: none;
    height: 2rem;
    background-color: var(--laranja--destaque1);
    border-radius: 5px;
    width: 10rem;
}
.preencher__cidade__estado{
  border: none;
    height: 2rem;
    background-color: var(--laranja--destaque1);
    border-radius: 5px;
    width: 10.4rem;
}
.conjunto__cidade__estado{
    padding-top: 1rem;
    width: 70%;
    margin-left: 1.1rem;
}
.texto__oq__um__ecoponto{
    position: absolute;
    left: 35rem;
    top: 9rem;
    font-family: var(--fonte);
    color: var(--texto--principal);
    font-size: 18px;
    width: 25%;
}

.conjunto__botoes__imagem{
    display: flex;
    gap: 3.5rem;
    padding-top: 3rem;
    width: 70%;
}
.imagem{
    height: 6rem;
}
/*.container{
    position: relative;
  height: 150px;
  background: #eee;
}*/
.botoes__final{
    display: flex;
    padding: 5% 5%;
    gap: 4rem;
}
.botao__encontrar{
      border: none;
      font-family: var(--fonte);
      font-weight: bold;
      color: var(--texto--principal);
    height: 2.8rem;
    background-color: var(--confirmacao);
    border-radius: 5px;
    width: 10.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.botao__cancelar{
      border: 0.5rem solid var(--confirmacao);
      font-family: var(--fonte);
      font-weight: bold;
    height: 2.8rem;
    background-color: var(--fundo--claro);
    border-radius: 5px;
    color: var(--texto--principal);
       width: 10.4rem;
}
.erro {
  background-color: var(--cor--quinta);
}

.conjunto__header1{
    
    display: flex;
   align-items: center;
   padding-left: 2rem;
   padding-top: 1rem;
}

/*ARQUIVO 2*/
.topo__ecoponto {
background-color: var(--cor--terciaria);
}
.conjunto__header2{
    display: flex;
    align-items: center;
    padding: 1% 4%;
    gap: 18rem;
}
.imagem__voltar{
    width: 3rem;
}
.conjunto__header__imagem__voltar{
    display: flex;
    align-items: center;
}

.conjunto__econponto__encontrado{
    padding-top: 2rem;
    display: flex;
    gap: 10rem;
    justify-content: center;
    width: 100%;
}
.retangulo__fundo{
    width: 32rem;
    height: 34rem;
      background-color: var(--laranja--destaque1);
  border-radius: 15px;
}
.nome__ecoponto__estilo{
    font-family: var(--fonte);
    color: var(--cor--secundaria);
    font-weight: bold;
    font-size: 24px;
}
.conjunto__retangulo__dentro{
    gap: 0.5rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 91%;
}
.estilo__endereco{
    font-size: medium;
    font-family: var(--fonte);
    font-size: 16px;
}
.destaque__endereco{
    font-weight: bold;
}
.estilo__horario{
    font-family: var(--fonte);
    font-size: 20px;
    font-weight: bold;
}
.conjunto__tipos__aceitos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.tamanho__imagens__ecoponto__encontrado{
    width: 1.5rem;
}
.conjunto__imagem__valores{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}
.preencher__valores{
     border: none;
    height: 2.2rem;
    background-color: var(--fundo--claro);
    border-radius: 5px;
    width: 14rem;
}
.conjunto__retangulo__dupla{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}.preencher__eletronico{
      border: none;
    height: 2.2rem;
    background-color: var(--cor--quinta);
    border-radius: 5px;
    width: 14rem;
}
.conjunto__lixo__eletronico{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.botoes__ecoponto__encontrado{
    display: flex;
    gap: 5rem;
}
.botao__preparar__lixo{
         border: none;
      font-family: var(--fonte);
      font-weight: bold;
      color: var(--texto--principal);
    height: 2.8rem;
    background-color: var(--verde--primario);
    border-radius: 5px;
    width: 10.4rem;
}
.botao__inscrever{
         border: 0.5rem solid var(--confirmacao);
      font-family: var(--fonte);
      font-weight: bold;
    height: 2.8rem;
    background-color: var(--fundo--claro);
    border-radius: 5px;
    color: var(--botao);
       width: 10.4rem;
}
.conjunto__localizacao{
    display: flex;
    flex-direction: column;
   gap: 0.5rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
}
.retangulo__mapa{
     border: none;
    height: 20rem;
    background-color: var(--fundo--claro);
    border-radius: 5px;
    width: 29rem;
}

@media(max-width: 480px){
.conjunto__main{
    flex-direction: column;
    
}
.conjunto__header2{
    gap: 4rem;
}
.conjunto__econponto__encontrado{
    width: 100%;
    padding-left: 1rem;
}
.nome__ecoponto__encontrado{
    font-size: 1.5rem;
}
.texto__oq__um__ecoponto{
    left: 2rem;
    top: 5rem;
    font-size: 21px;
    width: 80%;
}
.titulo__main{
    width: 80%;
    margin-left: 0.5rem;
}
.preencher__main{
display: none;
}
.conjunto__main{
    padding-top: 28rem;
}
.secao__rua__numero__cidade__estado{
    flex-direction: column;
    gap: 0.5rem;
}
.conjunto__botoes__imagem{
    flex-direction: column-reverse;
    padding-top: 0;
}
.imagem{
    display: none;
}
.preencher__rua__bairro{
    width: 23rem;
}
.conjunto__econponto__encontrado{
    flex-direction: column;
    margin-left: 2rem;
}
.retangulo__fundo{
    width: 22rem;
    height: 40rem;
}
.retangulo__mapa{
    width: 19rem;
    height: 15rem;
}
.botoes__ecoponto__encontrado{
    gap: 1.5rem;
}
.conjunto__tipos__aceitos{
    display: flex;
    flex-direction: column;
}
}
/*@media (orientation: landscape) {
  /* Estilos para quando o celular estiver deitado 
  
  .secao__rua__numero__cidade__estado{
    flex-direction: column;
  }
  .texto__oq__um__ecoponto{
    left: 20rem;
  }
}*/
